Redirect 301 /paths https://gist.github.com/simonowendesign/3180929
Redirect 301 /wp http://simonowendesign.co.uk/blog/categories/wordpress/
Redirect 301 /mcrfred-07 http://simonowendesign.co.uk/blog/2013/07/24/mcrfred-round-7-chris-mills-on-the-importance-of-documentation/
Redirect 301 /mcrfred-06 http://simonowendesign.co.uk/blog/2013/07/24/mcrfred-round-6-martin-rue-on-javascript-as-a-language/
Redirect 301 /mcrfred-05 http://simonowendesign.co.uk/blog/2013/05/14/mcrfred-round-5-andrew-nesbitt/
Redirect 301 /mcrfred-04 http://simonowendesign.co.uk/blog/2013/07/07/mcrfred-04-videos-stu-cox-on-modernizr/
Redirect 301 /mcrfred-03 http://simonowendesign.co.uk/blog/2013/06/01/manchester-forking-fred-merge-batman/
Redirect 301 /mcrfred-02 http://simonowendesign.co.uk/blog/2013/05/01/manchester-fred-gets-responsive/
Redirect 301 /mcrfred-01 http://simonowendesign.co.uk/blog/2013/05/05/mcrfred-01-videos/
Redirect 301 /mcrfred http://simonowendesign.co.uk/blog/categories/mcrfred/
Redirect 301 /h5bp https://github.com/h5bp/html5-boilerplate
Redirect 301 /cdt https://github.com/simonowendesign/SO-Dark-Monokai-v3
Redirect 301 /dotfiles https://github.com/simonowendesign/dotfiles
Redirect 301 /osx https://github.com/simonowendesign/dotfiles/blob/master/.osx
Redirect 301 /donate http://simonowendesign.co.uk/blog/2013/05/26/mcrfred-sponsoring-and-donating/
Redirect 301 /sponsor http://simonowendesign.co.uk/blog/2013/05/26/mcrfred-sponsoring-and-donating/
Redirect 301 /gittip https://www.gittip.com/simonowendesign/
Redirect 301 / http://simonowendesign.co.uk
