Redirect 301 /cdt           https://github.com/s10wen/SO-Dark-Monokai-v3
Redirect 301 /chat          http://etherpad.wikimedia.org/p/sowso
Redirect 301 /code          http://codeshare.io/sowso
Redirect 301 /donate        http://s10wen.com/blog/2013/05/26/mcrfred-sponsoring-and-donating/
Redirect 301 /dotfiles      https://github.com/s10wen/dotfiles
Redirect 301 /escape        http://173.254.28.140/~simonow1/escape-the-trap/01-start.html
Redirect 301 /fen2014       http://s10wen.com/blog/2014/11/15/front-end-north-2014-slides/
Redirect 301 /fen2014notes  http://s10wen.com/blog/2014/11/16/front-end-north-2014-notes/
Redirect 301 /gittip        https://gratipay.com/s10wen/
Redirect 301 /tip           https://gratipay.com/s10wen/
Redirect 301 /h5bp          https://github.com/h5bp/html5-boilerplate
Redirect 301 /mcrfred-25    http://s10wen.com/blog/2015/04/14/mcrfred-25-andi-smith/
Redirect 301 /mcrfred-24    http://s10wen.com/blog/2015/02/08/mcrfred-24-a-day-in-the-life/
Redirect 301 /mcrfred-23    http://s10wen.com/blog/2015/02/08/mcrfred-23-a-practical-journey-to-web-components/
Redirect 301 /mcrfred-22    http://s10wen.com/blog/2015/01/09/mcrfred-22-user-experience/
Redirect 301 /mcrfred-21    http://s10wen.com/blog/2014/11/08/mcrfred-21a-and-21b/
Redirect 301 /mcrfred-20    http://s10wen.com/blog/2014/11/01/mcrfred-20-lightning-talks/
Redirect 301 /mcrfred-19    http://s10wen.com/blog/2014/10/13/mcrfred-19-anthony-casey/
Redirect 301 /mcrfred-18    http://s10wen.com/blog/2014/09/08/mcrfred-18-jake-smith/
Redirect 301 /mcrfred-17    http://s10wen.com/blog/2014/08/03/mcrfred-17-bruce-lawson/
Redirect 301 /mcrfred-16    http://s10wen.com/blog/2014/06/23/mcrfred-16-andi-smith/
Redirect 301 /mcrfred-15    http://s10wen.com/blog/2014/05/24/mcrfred-15-simon-owen/
Redirect 301 /mcrfred-14    http://s10wen.com/blog/2014/04/05/mcrfred-14-dan-donald/
Redirect 301 /mcrfred-13    http://s10wen.com/blog/2014/02/09/mcrfred-13-patrick-lauke/
Redirect 301 /mcrfred-12    http://s10wen.com/blog/2014/02/09/mcrfred-12-joe-critchley/
Redirect 301 /mcrfred-11    http://s10wen.com/blog/2014/01/02/mcrfred-11-ben-frain/
Redirect 301 /mcrfred-10    http://s10wen.com/blog/2013/11/04/mcrfred-round-10-andrew-clarke/
Redirect 301 /mcrfred-09    http://s10wen.com/blog/2013/11/04/mcrfred-round-9-manchester-freelance-front-end-developers/
Redirect 301 /mcrfred-08    http://s10wen.com/blog/2013/09/30/mcrfred-round-8-something-a-little-different/
Redirect 301 /mcrfred-07    http://s10wen.com/blog/2013/07/24/mcrfred-round-7-chris-mills-on-the-importance-of-documentation/
Redirect 301 /mcrfred-06    http://s10wen.com/blog/2013/07/24/mcrfred-round-6-martin-rue-on-javascript-as-a-language/
Redirect 301 /mcrfred-05    http://s10wen.com/blog/2013/05/14/mcrfred-round-5-andrew-nesbitt/
Redirect 301 /mcrfred-04    http://s10wen.com/blog/2013/07/07/mcrfred-04-videos-stu-cox-on-modernizr/
Redirect 301 /mcrfred-03    http://s10wen.com/blog/2013/06/01/manchester-forking-fred-merge-batman/
Redirect 301 /mcrfred-02    http://s10wen.com/blog/2013/05/01/manchester-fred-gets-responsive/
Redirect 301 /mcrfred-01    http://s10wen.com/blog/2013/05/05/mcrfred-01-videos/
Redirect 301 /mcrfred       http://s10wen.com/blog/categories/mcrfred/
Redirect 301 /mcrfrednews   http://github.us6.list-manage.com/subscribe?u=2dc71011e2&id=21ef497b89
Redirect 301 /mwug          http://s10wen.com/blog/categories/wordpress/
Redirect 301 /osx           https://github.com/s10wen/dotfiles/blob/master/.osx
Redirect 301 /paths         https://gist.github.com/s10wen/3180929
Redirect 301 /sponsor       http://s10wen.com/blog/2013/05/26/mcrfred-sponsoring-and-donating/
Redirect 301 /st            https://gist.github.com/s10wen/3293504
Redirect 301 /tshirts       http://s10wen.com/blog/2014/02/26/mcrfred-t-shirts/
Redirect 301 /u             https://github.com/s10wen/redirects/edit/master/.htaccess
Redirect 301 /wp            http://s10wen.com/blog/categories/wordpress/
Redirect 301 /              http://s10wen.com
